
.container
{
    margin-left:10%;
    margin-right: 10%;
}
.row-margin{
    margin:30px;

}
.row-margin div input{
align-content: center;
margin-left: 5%;
}
h2
{
    text-align:center;
    text-decoration: underline;
}
.row .smt
{
    margin-left:20%;
    margin-right:20%;
    
}
div label{
    display:block;
}
.bg-banner
{
    background: url('../../../assets/speed.jpg');
    padding:2%;
    height: 70%;
}

.bg-lwhite
{
margin-top: 5%;
margin-bottom: 5%;
height:80%;
padding:5%;

  background-color:rgba(240, 245, 245, 0.76) ;
  z-index: 1;
}