<div class="container">
    <h3>Employee Listing</h3>
     <table class="table">
      <thead>
        <tr>  
        <th>emp_id</th>
     <th> name</th>
     <th>  designation</th> 
     <th>  age</th> 
     <th>  salary</th> 
    <th>Location</th>
       
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td>11111</td>
          <td>jwhala </td>
          <td>Manager</td>
          <td>25</td>
          <td> 50000</td>
          <td>Koramagala</td>
        </tr>      
        <tr> 
          <td>11156</td>
          <td>Anurag </td>
          <td>Sales Exec</td>
          <td>45</td>
          <td> 35000</td>
          <td>CV raman Nagar</td>
        </tr> 
        <tr> 
          <td>11157</td>
          <td>Abhijeet </td>
          <td>Sales Exec</td>
          <td>35</td>
          <td> 15000</td>
          <td>Benniganahali</td>
        </tr> 
      </tbody>
    </table>
  </div>