<div class="bg-banner">
<div class="bg-lwhite">
<h3>Car Details</h3>

<div class="container">
  <form #carDetails = "ngForm" (submit)="Entry($event , carDetails.value)">
    <div class="row row-margin">
      <div class="col-sm-3">
        <label>carID</label>
        <input type="number" name="carId" ngModel>
      </div>
      <div class="col-sm-3">
        <label>Model</label>
        <input type="text" name="model" ngModel>
      </div>
      <div class="col-sm-3">
        <label>Color</label>
        <input type="text" name="color" ngModel>
      </div>
      <div class="col-sm-3">
        <label>Year</label>
        <input type="number" name="year" ngModel>
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-sm-3">
        <label>Rate</label>
        <input type="number" name="rate" ngModel>
      </div>
      <div class="col-sm-3">
        <label>Manufacture</label>
        <input type="text" name="manufacturer" ngModel>
      </div>
      <div class="col-sm-3">
        <label>Type</label>
        <input type="text" name="type" ngModel>
      </div>
      <div class="col-sm-3">
        <label>Sale(Yes/No)</label>
        <select name="sale" ngModel>
          <option>y</option>
          <option>n</option>
        </select>
      </div>
    </div>
    <div class="row row-margin center">
        <input class="smt button btn-success col-sm-6" (click)="backClicked()" type="button" value="Back">
      <input class="smt button btn-success col-sm-6" type="submit" value="submit">
    </div>
  </form>
</div>

</div></div>