<div class="bg-banner">
  <div class="bg-lwhite">
  
<h2> Employee Details</h2>
<div class="container">
<form (submit)="Ent($event)" >
  <div class="row row-margin">
  <div class="col-sm-3">
    <label>empID</label>
    <input type="text">
  </div>
  <div class="col-sm-3">
    <label>First Name</label>
    <input type="text">
  </div>
  <div class="col-sm-3">
    <label>Last Name</label>
    <input type="text">
  </div>
  <div class="col-sm-3">
          <label>Salary</label>
          <input type="text">
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-sm-3">
              <label>Age</label>
              <input type="text">
            </div>
            <div class="col-sm-3">
                  <label>Desgination</label>
                  <input type="text">
                </div>
                <div class="col-sm-3">
                      <label>DOJ</label>
                      <input type="date">
                    </div>
                  </div>          
  <div class="row row-margin center">
    <input class="smt button btn-success col-sm-4" type="submit" value="submit">
  </div>
 
</form>
</div>
  </div></div>
<a (click)="backClicked()">
    <-Back
  </a> 