<h3>
  Employee Dashboard
</h3>

<div class="row row-margin">
    <div class="col-sm-3">
  <input type="button" class="btn btn-primary" value="New Transaction" (click)="newTrans()">
</div>
<div class="col-sm-3">
  <input type="button" class="btn btn-primary" value="View Customer" (click)="viewCust()">
</div>
<div class="col-sm-3">
  <input type="button" class="btn btn-primary" value="View Car Stock" (click)="viewCarStock()">
</div>
<div class="col-sm-3">
  <input type="button" class="btn btn-primary" value="Transaction History" (click)="transHistory()">
</div>
</div>
<p>
    <a routerLink="/">Go back</a>
</p>
