<h3>Transaction History</h3>
<div class="container col-sm-8">
    <table class="table">
      <thead>
        <tr>
          <th>Invoice Id</th>
          <th>Car Id</th>
          <th>Model</th>
          <th>Employee Id</th>
          <th>Cost Price</th>
          <th>ReSale Price</th>
        </tr>
      </thead>
      <tbody>
       <tr>
          <td>1001</td>
          <td>101</td>
          <td>ritz</td>
          <td>1100</td>
          <td>200000</td>
          <td>275000</td>
        </tr>
         <tr class="active">
          <td>1002</td>
          <td>101</td>
          <td>Swift</td>
          <td>1100</td>
          <td>220000</td>
          <td>295000</td>
        </tr>
        <tr>
          <td>1001</td>
          <td>101</td>
          <td>ritz</td>
          <td>1100</td>
          <td>200000</td>
          <td>275000</td>
        </tr>
        <tr class="active">
          <td>1002</td>
          <td>101</td>
          <td>Swift</td>
          <td>1100</td>
          <td>220000</td>
          <td>295000</td>
        </tr>
        
      </tbody>
    </table>
  </div>

 