<div class="container">
    <h3>Customer Listing</h3>
     <table class="table">
      <thead>
        <tr>  
      <th>custId</th>
     <th> FName</th>
     <th>  LName</th> 
     <th>  ContactNo</th> 
     <th>  Address </th> 
    <th>Status</th>
    <th>EmailId</th>
       
        </tr>
      </thead>
      <tbody>
        <tr> 
         <td>1001 </td>
          <td>Ashish </td>
          <td>Manjhi</td>
          <td>999999999</td>
          <td> 50000</td>
          <td> slns pg bangalore</td>
          <td>ashish.97@gmail.com
      </td>
        </tr>      
        <tr> 
          <td>1002 </td>
          <td>Aditya </td>
          <td>Srivastav</td>
          <td>999334399</td>
          <td> 402000</td>
          <td>  bangalore</td>
          <td>addiysh.97@gmail.com
      </td>
        </tr> 
        <tr> 
          <td>1003 </td>
          <td>Swapnil </td>
          <td>B</td>
          <td>999884399</td>
          <td> 702000</td>
          <td> Bnashankari</td>
          <td>anurage@gmail.com
      </td>
        </tr> 
        <tr> 
          <td>1004 </td>
          <td>Sreyas </td>
          <td>B</td>
          <td>9234234234</td>
          <td> 802000</td>
          <td> Koramangala</td>
          <td>sreyase@gmail.com
      </td>
        </tr> 
      </tbody>
    </table>
  </div>