
<div class="row">
  
  

<div class="col-sm-8">
    <h3>Car Listing</h3>
     <table class="table">
      <thead>
        <tr>
          <th>carId</th>
     <th> Model</th>
     <th>  Color</th> 
     <th>  Year</th>  
     <th>  Rate</th> 
     <th>  Manufacture</th> 
      <th> Type</th> 
      <th> Sale</th> 
      <th> CustId</th> 
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of emp">    
              <td>{{item.carId}}</td>  
              <td>{{item.Model}}</td> 
              <td>{{item.color}}</td> 
              <td>{{item.year}}</td> 
              <td>{{item.rate}}</td> 
              <td>{{item.Manufacturer}}</td> 
              <td>{{item.Type}}</td>
              <td>{{item.sale}}</td>
              <td>{{item.custId}}</td>
              </tr>    
        
      </tbody>
    </table>
  </div>
</div>