<div class="container">
    <h3>Car Listing</h3>
     <table class="table">
      <thead>
        <tr>
          <th>carId</th>
     <th> Model</th>
     <th>  color</th> 
     <th>  Year</th> 
     <th>  Rate</th> 
     <th>  Manufacture</th> 
      <th> Type</th> 
      <th> Sale</th> 
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td>101</td>
          <td>jhala </td>
          <td>white</td>
          <td>2015</td>
          <td> 500000</td>
          <td>honda </td>
          <td>sedan</td>
          <td>y </td>
        </tr>      
        <tr> 
          <td>102</td>
          <td>Ritz </td>
          <td>white</td>
          <td>2015</td>
          <td> 300000</td>
          <td>Maruthi</td>
          <td>sport</td>
          <td>y </td>
        </tr> 
        <tr> 
          <td>106</td>
          <td>Coralla </td>
          <td>Black</td>
          <td>2015</td>
          <td> 300000</td>
          <td>Toyota</td>
          <td>sport</td>
          <td>y </td>
        </tr> 
      </tbody>
    </table>
  </div>
  