
<h3>Customer Details</h3>
<div class="container">
<form (submit)="save($event)">
    <div class="row row-margin">
        <div class="col-sm-3">
  <div class="input">
    <label>First Name</label>
    <input type="text" [(ngModel)]="FName" name="FName">
  </div></div>
  <div class="col-sm-3">
  <div class="input">
    <label>Last Name</label>
    <input type="text" [(ngModel)]="LName" name="LName">
  </div></div>
  <div class="col-sm-3">
  <div class="input">
          <label>e-Mail</label>
          <input type="text" [(ngModel)]="Email" name="Email">
        </div></div>
        <div class="col-sm-3">
            <div class="input">
                  <label>Contact No.</label>
                  <input type="text" [(ngModel)]="ContactNo" name="ContactNo">
                </div></div>
          </div>
            <div class="row row-margin">
               
            <div class="col-sm-3">
            <div class="input">
                  <label>Address</label>
                  <input type="text" [(ngModel)]="Address" name="Address">
                </div></div>
                <div class="col-sm-3">
                <div class="input">
                      <label>Status(B/S)</label>
                      <input type="text" [(ngModel)]="Status" name="Status">
                    </div></div>
                    <div class="col-sm-3">
                    <div class="input">
                          <label>Customer Id</label>
                          <input type="text" [(ngModel)]="custId" name="custId">
                        </div> 
                        </div>
                      </div>
                        <div class="row row-margin center">
                          
       <input class="button btn-success col-sm-6" type="submit" value="submit">
                            
      <input class="button btn-success col-sm-6" type="button" value="Next" (click)="Go()" >
    
  </div>
</form>


<a (click)="backClicked()">
    <-Back
  </a> 
