<h3>
    Admin Dashboard
</h3>
  
  <div class="row row-margin">
    <div class="col-sm-4">
    <input type="button"  class="btn btn-primary" value="Remove Employee" (click)="remEmp()">
  </div>
  <div class="col-sm-4">
    <input type="button"  class="btn btn-primary" value="View Customer" (click)="viewCust()">
  </div>
  <div class="col-sm-4">
    <input type="button"  class="btn btn-primary" value="View Car Stock" (click)="viewCarStock()">
  </div>
</div>
<div class="row row-margin">
    <div class="col-sm-4">
    <input type="button" class="btn btn-primary" value="Transaction History" (click)="transHistory()">
  </div>
  <div class="col-sm-4">
    <input type="button"  class="btn btn-primary" value="Add Employee" (click)="addEmployee()">
  </div>
  <div class="col-sm-4">
    <input type="button"  class="btn btn-primary" value="View Employee List" (click)="vieEmpList()">
  </div>
</div>
<p>
    <a routerLink="/">Go back</a>
</p>
