<h3>Car Details</h3>

<div class="container">
  <form (submit)="Entry($event)">
    <div class="row row-margin">
      <div class="col-sm-3">
        <label>carID</label>
        <input type="text">
      </div>
      <div class="col-sm-3">
        <label>Model</label>
        <input type="text">
      </div>
      <div class="col-sm-3">
        <label>color</label>
        <input type="text">
      </div>
      <div class="col-sm-3">
        <label>Year</label>
        <input type="date">
      </div>
    </div>
    <div class="row row-margin">
      <div class="col-sm-3">
        <label>Rate</label>
        <input type="text">
      </div>
      <div class="col-sm-3">
        <label>Manufacture</label>
        <input type="text">
      </div>
      <div class="col-sm-3">
        <label>Type</label>
        <input type="text">
      </div>
      <div class="col-sm-3">
        <label>Sale(B/S)</label>
        <input type="text">
      </div>
    </div>
    <div class="row row-margin center">
      <input class="smt button btn-success col-sm-4" type="submit" value="submit">
    </div>
  </form>
</div>